.panel-heading { margin-bottom: 30px; border: solid 1px #5c6163 !important; }
.panel-group .panel-heading { margin-bottom: 0px; }
.page-item.active .page-link { border: solid 1px #5c6163 !important; }